### Node.js ###
# This is the directory for Node.js dependencies. It should never be committed.
node_modules
/dist/
/build/

### macOS ###
# Exclude the hidden folder macOS creates for every directory.
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Exclude the temporary database files Windows creates.
Thumbs.db
ehthumbs.db

### VS Code ###
# Exclude user-specific settings and the project's temporary files.
.vscode/
*.code-workspace

### Temporary Files ###
# Exclude common temporary and log files.
*.log
*.tmp
